.online_wrapper, .offline_wrapper {
    width: 90%;
    flex-wrap: wrap;
    overflow: auto;
    padding-left: min(2%, 100px);
    padding-right: min(2%, 100px);
    margin-top: 20px;
    display: flex;
    gap: min(2%, 100px);
}

@media only screen and (max-width: 500px) {
    .online_wrapper, .offline_wrapper {
        justify-content: center;
    }
}